.definicije
{
    background-color: #2ab27b;
    border-radius: 50px;
    margin-top: 2px;
}
.definicije blockquote
{
    background: #5bc0de;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
}

.likes_counter
{
    text-align: right;
    color: white;

}

.logout_btn
{
    background-color: #5bc0de;
    color: white;
    border-radius: 15px;
    margin-top: 12px;
}

.poster
{
    width: 50%;
    height: auto;

}
.poster img{
    width: 40%;
    height: auto;
}

.poster a{
    color: black;
    font-size: 20px;
    word-wrap: break-word;
}

.poster_action {
    position: relative;
}

.poster_action li{
    display: block;
    background-color: grey;
    width: 10%;
}
