.definicije
{
    background-color: #2ab27b;
    border-radius: 50px;
    margin-top: 2px;
}
.definicije blockquote
{
    background: #5bc0de;
    border-radius: 15px;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
}

.likes_counter
{
    text-align: right;
    color: white;

}

.logout_btn
{
    background-color: #5bc0de;
    color: white;
    border-radius: 15px;
    margin-top: 12px;
}

.poster
{
    width: 50%;
    height: auto;

}
.poster img{
    width: 40%;
    height: auto;
}

.poster a{
    color: black;
    font-size: 20px;
    word-wrap: break-word;
}


.poster_action li{
    display: block;
    background-color: grey;
    width: 10%;
}

.poster_single
{
    width: 50%;
    height: auto;

}
.poster_single img{
    width: 85%;
    height: auto;
}
.poster_single h3{
    background-color: white;
    text-decoration: none;
}
.poster_single a:link {
    text-decoration: none;
    color: black;
}
#opisP {
    color: white;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.opisPosta {
    width: 85%;
    height: auto;
    background-color: black;
    margin-top: -10px;
    color: white;
    text-align: center;
    font-size: 30px;
}
.opisPosta h4{
    font-size: 30px;
}

.meta_info_poster
{
    width: 80%;
}
.meta_info_poster form
{

}


/*profile*/
.profilehead{
    width:100%;
    height: auto;
}
.profilehead div{
    width:30%;
    height:auto;
    float:left;
}
.profilehead span{
    font-size: 25px;
    padding: 7px;
    border-radius: 7px;
    width:30%;
    height:50px;
    float:right;
    text-align: center;
    background: #337ab7;
}
.wrap {
    width: 90%;
    margin: 10px auto;
}
.flex{
    display:flex;
    justify-content: space-around;
}
.imgwrap{
    width:40%;
    margin:2%;
    height:auto;
}
.userstats {
    width:60%;
    margin:2%;
    height:auto;
}
.imgwrap img{
    width:100%;
    height:auto;
}
.userstats ul{
    padding:0;
    list-style-type: none;
    background: #337ab7;
    border-radius: 7px;
}
.userstats li{
    padding: 5px;
    margin-top:2px;
    height: 30px;
    color: white;
    border-bottom:solid 1px white;
}
.znacke {
    padding:5px;
    margin-bottom:10px;
    align-items: center;
}
.znacke div{
    width:30%;
    text-align: center;
    border-radius:7px;
    background:#337ab7;
}
.znacke span{
    color:white;
}